@font-face{
    font-family: jacquespro;
    src: url(/font/JacquesPro-Bold.woff);
    font-weight: 800;
}
@font-face{
    font-family: jacquespro;
    src: url(/font/JacquesPro-ExtraBold.woff);
    font-weight: 900;
}
@font-face{
    font-family: jacquespro;
    src: url(/font/JacquesPro-ExtraLight.woff);
    font-weight: 200;
}
@font-face{
    font-family: jacquespro;
    src: url(/font/JacquesPro-Light.woff);
    font-weight: 300;
}
@font-face{
    font-family: jacquespro;
    src: url(/font/JacquesPro-Medium.woff);
    font-weight: 500;
}
@font-face{
    font-family: jacquespro;
    src: url(/font/JacquesPro-Regular.woff);
    font-weight: 400;
}

*{  
    font-family: jacquespro;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(40, 42, 31);
    padding: 0 5rem;
}

/* Header starts here */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
nav ul {
    display: flex;
    list-style-type: none;
}
li a{
    padding: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 400;
}
li a:hover{
    color: rgb(220, 251, 14);
    /* border-top: 2px solid linear-gradient(rgb(220, 251, 14), rgb(255, 255, 255));
    border-bottom: 2px solid linear-gradient(rgb(255, 255, 255), rgb(220, 251, 14)); */
}
.cta{
    text-decoration: none;
    background-color: rgb(220, 251, 14);
    margin-right: 2rem;
    padding: 0.6rem 2rem;
    border-radius: 0.7rem;
    color: black;
    font-weight: 400;
    font-size: 1.3rem;
}
.cta:hover{
    background-color: transparent;
    color: rgb(245, 246, 238);
    border: 2px solid rgb(245, 246, 238);
    outline: none;
}

/* First Section starts here */

.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2rem 0 3rem 0;
    color: rgb(245, 246, 238);
}
.top-section h1{
    font-size: 4rem;
    flex-basis: 100%;
}
.top-section h1 span{
    display: block;
}
.yellow{
    color: rgb(220, 251, 14);
}
.top-aside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
}
.top-aside h3{
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.6;
}
.top-aside a{
    text-decoration: none;
    background-color: rgb(220, 251, 14);
    font-size: 1.2rem;
    padding: 0.6rem 2rem;
    border-radius: 0.7rem;
    font-weight: 400;
}
.top-aside a:hover{
    background-color: transparent;
    color: rgb(245, 246, 238);
    border: 2px solid rgb(245, 246, 238);
}

/* Section-B starts here */

.section-b{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    width: 100%;
    height: 60vh;
    gap: 8%;
    color: rgb(245, 246, 238);
}
.picture{
    min-width: 70%;
    height: 70vh;
    border-radius: 0 1.2rem 1.2rem 0;
    object-fit: cover;
}
.section-b aside{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.bottom-aside h3{
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
.bottom-aside p{
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(245, 246, 238);
}
@media (max-width:768px){
header{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0%;
}
header > * {
    margin-bottom: 2rem;
}
nav ul {
    display: flex;
    flex-direction: column;
}
li a{
    padding: 0;
    font-size: 0.8rem;
}
.cta{
    font-size: 0.8rem;
}
.top-section{
    display: flex;
    flex-wrap: wrap;
}
.top-section h1{
        font-size: 2rem;
    }
.top-aside a{
    font-size: 0.8rem;
}
.top-aside h3{
    font-size: 1rem;
}
.picture{
    min-width: 70%;
    min-height: 50%;
}
.bottom-aside h3{
    font-size: 2rem;
}
.bottom-aside p{
    font-size: 0.8rem;
}
}